
.feedbackList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedbackListItem {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.feedbackListItem:hover {
  background-color: #eaeaea;
}

.feedbackListItem:last-child {
  margin-bottom: 0;
}
